@import url('https://fonts.googleapis.com/css2?family=Inconsolata:wght@300&display=swap');
.footer{
    display: flex;
    width:100vw;
    justify-content: center;
    align-items: center;
    font-family: 'Incosolata', monospace;
    font-size: 0.5rem;
    color: #333;
    font-weight: 600;
    height:5vh;
}
a{
    color:#333;
    text-decoration: none;
}
a:hover{
    text-decoration: underline;
}
@media (min-width:900px) {
    .footer{
        font-size: 0.7rem;
        height:10vh;
    }
}