body{
    margin: 0%;
    background-color: #FCF2EB;
}
.container{
    display: flex-col;
}
@media (min-width:900px) {
    .container{
        display:flex;
        align-items: center;
        justify-content: center;
        height: 80vh;
    }
}