@import url('https://fonts.googleapis.com/css2?family=Inconsolata:wght@300&display=swap');
:root{
    --primary: #FCF2EB;
    --secondary: #333;
}
body{
    margin: 0%;
    background-color: var(--primary);
    overflow-x: hidden;
}
.input{
    display: flex;
    justify-content: center;
    width: 100vw;
}
.input input{
    font-family: 'Arial',sans-serif;
    color: var(--secondary);
    background-color: var(--primary);
    border: 0;
    border-bottom: 1px solid rgb(181, 177, 177);
    margin: 0 3vw;
    text-align: center;
    width:60vw;
    font-size: 0.9rem;
}
.input input:focus{
    outline: none;
    border-bottom: 1px solid var(--secondary);
    transition : 0.5s;
}
button {
    font-family: 'Arial', sans-serif;
    color: var(--secondary);
    background: var(--primary);
    border: 1px solid var(--secondary);
    box-sizing: border-box;
    padding: 0.5rem 1rem;
    transition: 0.2s ease-out;
}
button:hover{
    color: var(--primary);
    background-color: var(--secondary);
    transition: 0.2s ease-in;
}
.container{
    display: flex-col;
}
::-moz-selection { /* Code for Firefox */
    color: var(--primary);
    background: var(--secondary);
  }
  
  ::selection {
    color: var(--primary);
    background: var(--secondary);
  }
@media (min-width:900px) {
    .container{
        display:flex;
        align-items: center;
        justify-content: center;
        height: 75vh;
    }
    .input input{
        max-width: 30rem;
    }
    body{
        overflow-y: hidden;
    }
}